.footer{
    transform: translateY(200px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1) ;
    @include small-screen{
        transform: translateY(-250px);
        margin-top: 280px;
    }
    &__nav{
        -webkit-tap-highlight-color: transparent;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 40px;
        &__switch{
            position: relative;
            top: 30px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            border-radius: 40px;
            left: 30px;
            cursor: pointer;
            display: inline-block;
            width: 225px;
            height: 44px;
            @include small-screen{
                position: relative;
                top: 70px;
                left: 5px;
            }
            &:active{
                transform: scale(.99);
            }
            &::before{
                content: "Latest";
                z-index: 2;
                position:absolute;
                top: 12px;
                font-weight: bolder;
                left: 33px;
                z-index: 2;
                color: $gray;
            }
            &::after{
                content: "Popular";
                float: right;
                font-weight: bolder;
                color: $gray;
                position: relative;
                top:11px;
                left: -25px;
            }
            &__input{
                appearance: none;
            }
            &__slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $blue;
                transition: .4s;
                border-radius: 40px;
                &::before{
                    position: absolute;
                    height: 40px;
                    content: "";
                    width: 100px;
                    left: 10px;
                    bottom: 2px;
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                    background-color: rgb(255, 255, 255);
                    transition: .4s;
                    border-radius: 40px;
                }
            }
            &__input:checked + &__slider{
                background-color: $white;
                &::before{
                    transform: translateX(107px);
                }
            }
            &__input:not(:checked) + &__slider{
                background-color: $white;
                box-shadow: 0px 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            }
        }
        @include small-screen{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__btn__group{
            margin-top: 10px;
            display: flex;
            text-align: center;
            align-items: center;
            padding-left: 9%;
            @include small-screen{
                position: relative;
                top: 650px;
                z-index: 2;
                margin-left: -24px
            }
            &__child1{
                @extend .btn;
                &:active{
                    transform: scale(.90);
                }
            }
            &__child2{
                @extend .btn;
                &:active{
                    transform: scale(.90);
                }
            }
            &__child3{
                @extend .btn;
                &:active{
                    transform: scale(.90);
                }
            }
            &__child4{
                @extend .btn;
                &:active{
                    transform: scale(.90);
                }
            }
            &__child5{
                @extend .btn;
                &:active{
                    transform: scale(.90);
                }
            }
        }
        &__icons{
            @include small-screen{
                position: relative;
                top: 1140px;
                margin-left: 36%;
                z-index: 2;
            }
            &__figma{
                @extend .icon;
                background: linear-gradient($pink,$blue);
                &:active{
                    transform: scale(.90);
                }
            }
            &__gem{
                @extend .icon;
                color: $brown;
                &:active{
                    transform: scale(.90)
                }
            }
            &__js{
                @extend .icon;
                color: $pink;
                &:active{
                    transform: scale(.90);
                }
            }
            &__css{
                @extend .icon;
                color: $lightBlue;
                &:active{
                    transform: scale(.90);
                }
            }
            &__sass{
                @extend .icon;
                color: $pink;
                &:active{
                    transform: scale(.90);
                }
            }
        }
    }
    &__boxes{
        -webkit-tap-highlight-color: transparent;
        transform: translateY(50px);
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 200px;
        flex-wrap: wrap;
        @include small-screen{
            transform: translateX(20px);
        }
    &__box1{
        @extend .box;
        background: rgba(60, 158, 163, 0.1);
        width: 470px;
        margin-bottom: 200px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        color: rgba(60, 158, 163,0);
        transition: transform .4s ease;
        &:hover{
            transform: scale(1.1);
        }
        @include small-screen{
            width: 350px;
            transform: translateX(-20px);
            margin-bottom: 200px;
        }
        &__child2{
            &__grandchild1{
                @extend .grandchild2;
                width: 60px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                border-radius: 40px;
                top: 120px;
            }
            &__grandchild2{
                @extend .grandchild2;
                top: 72px;
                left: 70px;
            }
            &__grandchild3{
                @extend .grandchild2;
                top: 38px;
                left: 100px;
                font-weight: bold;
                width: 200px;
            }
            &__grandchild4{
                @extend .grandchild2;
                padding-left: 20px;
                left: 340px;
                @include small-screen{
                    margin-left: -20px;
                    transform: translateX(-100px)
                }
            }
            &__grandchild5{
                @extend .grandchild2;
                left: 360px;
                @include small-screen{
                    transform: translateX(-100px)
                }
            }
        }
        &__child{
            width: 60%;
            height: 60%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1) ;
            color: $blue;
            border-radius: 4px;
            padding: 8% 10%;
            font-weight: bold;
            letter-spacing: 0.1px;
            background-color: white;
            position: relative;
            left: 90px;
            top: 30px;
            @include small-screen{
                width: 80%;
                margin-top: 10px;
                transform: translateX(-50px);
            }
            &__grandchild1{
                font-size: 10px
            }
            &__grandchild2{
                font-size: 8px
            }
            &__aside{
                position: relative;
                display: flex;
            }
            &__aside1{
                &__grandchild3{
                    font-size: 9px
                }
                &__grandchild4{
                    font-size: 4px;
                    width:85px
                }
                &__grandchild5{
                    @extend .grandchild;
                    &-2{
                        position: relative;
                        top: 9px;
                    }
                }
                &__grandchild6{
                    font-size: 4px;
                    position: relative;
                    top: 10px;
                }
            }
            &__aside2{
                display: flex;
                flex-direction: column;
                padding-left: 10%;
                @include small-screen{
                    padding-left: 20%;
                }
                &__grandchild7{
                    font-size: 9px;
                }
                &__grandchild8{
                    font-size: 4px;
                    margin-top: -1%;
                    width:75px;
                }
                &__grandchild9{
                    @extend .grandchild;
                    &-2{
                        position: relative;
                        top: 22%;
                    }
                }
                &__grandchild10{
                    padding-top: 13%;
                    font-size: 4px;
                }
                &__grandchild11{
                    font-size: 4px;
                }
                &__grandchild12{
                    font-size: 4px;
                }
            }
        }
    }
    &__box2{
        @extend .box;
        width: 470px;
        margin-bottom: 200px;
        background-color: $blue;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        color: rgba(60, 158, 163,0);
        transition: transform .4s ease;
        &:hover{
            transform: scale(1.1);
        }
        @include small-screen{
            width: 90%;
            transform: translateX(-20px);
            margin-bottom: 250px;
        }
        &__child3{
            color: $blue;
            border-radius: 3px;
            background-color: #ffffff;
            padding: 3px;
            position: relative;
            top: -98%;
            left: 379px;
            @include small-screen{
                position: relative;
                transform: translateY(8px);
                left: 300px;
            }
        }
        &__child2{
            background:rgba(90, 100, 159, 0.2);
            width: 30%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            height: 150px;
            border-radius: 5px;
            position:relative;
            top: -170px;
            left: 260px;
            @include small-screen{
                position: relative;
                top: -46%;
                width: 37%;
                left: 55%;
            }
            &__grandchild1{
                z-index: 2;
                position: relative;
                top: 20px;
                left: 20px;
            }
            &__grandchild2{
                position: relative;
                top: -7px;
                color: white;
                left: 40px;
                font-size: 10px;
            }
            &__grandchild3{
                z-index: 2;
                position: relative;
                top: -5px;
                left: 20px;
            }
            &__grandchild4{
                position: relative;
                top: -33px;
                color: white;
                left: 40px;
                font-size: 10px;
            }
            &__grandchild5{
                color: white;
                font-size: 5px;
                position: relative;
                top: -25px;
                padding-top: 24%;
                left: 70px;
            }
            &__grandchild6{
                color: white;
                font-size: 5px;
                position: relative;
                padding-top: 18%;
                top: -18px;
                left: 70px;
            }
            &__switch1{
                position: absolute;
                top: 80px;
                z-index: 2;
                left: 20px;
                display: inline-block;
                width: 45px;
                height: 24px;
                &__input{
                    appearance: none;
                }
                &__slider{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $blue;
                    transition: .4s;
                    border-radius: 40px;
                    &::before{
                        position: absolute;
                        height: 20px;
                        content: "";
                        width: 20px;
                        left: 4px;
                        bottom: 2px;
                        background-color: rgb(255, 255, 255);
                        transition: .4s;
                        border-radius: 40px;
                    }
                }
                &__input:checked + &__slider{
                    background-color: #2196F3;
                    &::before{
                        transform: translateX(18px);
                    }
                }
            }
            &__switch2{
                position: absolute;
                top: 120px;
                left: 20px;
                display: inline-block;
                width: 45px;
                height: 24px;
                &__input{
                    appearance: none;
                }
                &__slider{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $blue;
                    transition: .4s;
                    border-radius: 40px;
                    &::before{
                        position: absolute;
                        height: 20px;
                        content: "";
                        width: 20px;
                        left: 4px;
                        bottom: 2px;
                        background-color: rgb(255, 255, 255);
                        transition: .4s;
                        border-radius: 40px;
                    }
                }
                &__input:checked + &__slider{
                    background-color: #2196F3;
                    &::before{
                        transform: translateX(18px);
                    }
                }
            }
        }
        &__child1{
            width: 30%;
            height: 60%;
            background:rgba(90, 100, 159, 0.3);
            position:relative;
            top: 11%;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            left: 20%;
            @include small-screen{
                width: 40%;
                position: relative;
                top: 50px;
                left: 30px;
            }
            &__grandchild1{
                z-index: 2;
                position: relative;
                top: 10px;
                left: 10px;
                background-color: #272C48;
            }
            &__grandchild2{
                color: #ffffff;
                position: relative;
                left: 30px;
                top: -10px;
                font-size: 10px;
            }
            &__grandchild3{
                z-index: 2;
                position: relative;
                right: 69px;
                top: 20px;
                font-size: 12px;
            }
            &__grandchild4{
                position: relative;
                right: -30px;
                top: -8px;
                color: #ffffff;
                font-size: 10px;
            }
            &__grandchild5{
                color: #b6b8c4;
                margin: 4px;
                font-size: 10px;
                position: relative;
                left: 5px;
            }
            &__grandchild6{
                z-index: 2;
                position: relative;
                left: 10px;
            }
            &__grandchild7{
                color: white;
                font-size: 10px;
                position: relative;
                left: 15px;
                top: -3px;
            }
            &__grandchild8{
                position: relative;
                left: 10px;
                top: 3px;
            }
            &__grandchild9{
                color: white;
                font-size: 10px;
                position: relative;
                left: 15px;
            }
            &__grandchild10{
                color: white;
                font-size: 10px;
                position: relative;
                left: 11px;
            }
            &__grandchild11{
                color: white;
                font-size: 10px;
                position: relative;
                top: 10px;
                left: 11px;
            }
        }
        &__child4{
            position: relative;
            bottom: 381px;
            &__grandchild1{
                @extend .grandchild2;
                width: 60px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                border-radius: 40px;
                top: 325px;
            }
            &__grandchild2{
                @extend .grandchild2;
                top: 280px;
                left: 70px;
            }
            &__grandchild3{
                @extend .grandchild2;
                top: 245px;
                left: 100px;
                font-weight: bold;
                width: 200px;
            }
            &__grandchild4{
                @extend .grandchild2;
                top: 210px;
                padding-left: 20px;
                left: 340px;
                @include small-screen{
                    margin-left: -20px;
                    transform: translateX(-100px)
                }
            }
            &__grandchild5{
                @extend .grandchild2;
                left: 360px;
                top: 210px;
                @include small-screen{
                    transform: translateX(-100px)
                }
            }
        }
    }
    &__box3{
        @extend .box;
        width: 470px;
        background: rgba(212, 53, 125, 0.1);
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        color: rgba(60, 158, 163,0);
        transition: transform .4s ease;
        &:hover{
            transform: scale(1.1);
        }
        @include small-screen{
            width: 350px;
            transform: translateX(-20px);
            margin-bottom: 200px;
        }
        &__child1{
            width: 230px;
            height: 160px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1) ;
            border-radius: 5px;
            padding: 20px 30px;
            background-color: white;
            position: relative;
            left: 90px;
            top: 30px;  
            @include small-screen{
                position: relative;
                left: 30px;
                width: 200px;
                top: 50px;
            }
            &__grandchild1{
                font-size: 11px;
                width: 100px;
                color:$blue;
                font-weight: bold;
            }
            &__grandchild2{
                font-size: 8px;
                border: 0.001px solid rgb(187, 180, 180);
                width: 88px;
                padding: 6px;
                border-radius: 6px;
                position: relative;
                top: 20px;
                color:$blue;
                font-weight: bold;
            }
            &__grandchild3{
                font-size: 5px;
                border: 0.001px solid rgb(187, 180, 180);
                margin-top: 10px;
                width: 88px;
                background-color: $blue;
                padding: 10px;
                border-radius: 6px;
                position: relative;
                text-align: center;
                top: 20px;
                color:$white;
                font-weight: bold;
            }
            &__grandchild4{
                color: #ffffff;
                position: relative;
                padding: 10px;
                top: -100px;
                left: 160px;
                border-radius: 20px;
                background-color: #272C48;
                @include small-screen{
                    position: relative;
                    left: 135px;
                }
            }
        }
        &__child2{
            position: relative;
            top: -290px;
            @include small-screen{
                position: relative;
                top: -290px;
            }
            &__grandchild1{
                @extend .grandchild2;
                width: 60px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                border-radius: 40px;
                top: 325px;
            }
            &__grandchild2{
                @extend .grandchild2;
                top: 280px;
                left: 70px;
            }
            &__grandchild3{
                @extend .grandchild2;
                top: 245px;
                left: 100px;
                font-weight: bold;
                width: 200px;
            }
            &__grandchild4{
                @extend .grandchild2;
                top: 210px;
                padding-left: 20px;
                left: 340px;
                @include small-screen{
                    margin-left: -20px;
                    transform: translateX(-100px)
                }
            }
            &__grandchild5{
                @extend .grandchild2;
                left: 360px;
                top: 210px;
                @include small-screen{
                    transform: translateX(-100px)
                }
            }
        }
        &__child3{
            width: 130px;
            height: 130px;
            background-color: $blue;
            border-radius: 5px;
            position: relative;
            top: -40px;
            left: 255px;
            z-index: -1;
            @include small-screen{
                position: relative;
                left: 160px;
                top: -15px;

            }
        }
    }
    }
}