@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1px;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}
@media screen and (max-width: 500px) {
  html, body {
    overflow-x: hidden;
  }
}

hr {
  opacity: 0.2;
}

body {
  overflow-x: hidden;
}

.box, .footer__boxes__box3, .footer__boxes__box2, .footer__boxes__box1 {
  width: 30%;
  height: 350px;
  border-radius: 20px;
}

.gem {
  font-size: 25px;
  background-color: white;
  position: relative;
  top: 30px;
  border-radius: 30px;
  padding: 10px;
  left: 30px;
  color: #ECB332;
}

.grandchild, .footer__boxes__box1__child__aside2__grandchild9, .footer__boxes__box1__child__aside1__grandchild5 {
  background: rgb(61, 85, 182);
  width: 60px;
  text-align: center;
  font-size: 5px;
  color: white;
  border-radius: 3px;
  height: 20px;
}

.btn, .footer__nav__btn__group__child5, .footer__nav__btn__group__child4, .footer__nav__btn__group__child3, .footer__nav__btn__group__child2, .footer__nav__btn__group__child1 {
  background: rgb(255, 255, 255);
  font-weight: bold;
  color: rgba(39, 44, 72, 0.6);
  border: 0.1px solid rgb(255, 255, 255);
  padding: 14px;
  border-radius: 24px;
  cursor: pointer;
}
.btn:hover, .footer__nav__btn__group__child5:hover, .footer__nav__btn__group__child4:hover, .footer__nav__btn__group__child3:hover, .footer__nav__btn__group__child2:hover, .footer__nav__btn__group__child1:hover {
  border: 0.1px solid rgba(39, 44, 72, 0.2);
  border-radius: 24px;
  padding: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  color: rgb(39, 44, 72);
}

.icon, .footer__nav__icons__sass, .footer__nav__icons__css, .footer__nav__icons__js, .footer__nav__icons__gem, .footer__nav__icons__figma {
  border: 0.1px rgb(234, 230, 223) solid;
  margin: 14px;
  padding: 14px;
  font-size: 20px;
  border-radius: 30px;
  position: relative;
  right: 20%;
  cursor: pointer;
}
.icon:hover, .footer__nav__icons__sass:hover, .footer__nav__icons__css:hover, .footer__nav__icons__js:hover, .footer__nav__icons__gem:hover, .footer__nav__icons__figma:hover {
  border: 0.1px solid #D4357D;
  border-radius: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in;
}

.grandchild2, .footer__boxes__box3__child2__grandchild5, .footer__boxes__box3__child2__grandchild4, .footer__boxes__box3__child2__grandchild3, .footer__boxes__box3__child2__grandchild2, .footer__boxes__box3__child2__grandchild1, .footer__boxes__box2__child4__grandchild5, .footer__boxes__box2__child4__grandchild4, .footer__boxes__box2__child4__grandchild3, .footer__boxes__box2__child4__grandchild2, .footer__boxes__box2__child4__grandchild1, .footer__boxes__box1__child2__grandchild5, .footer__boxes__box1__child2__grandchild4, .footer__boxes__box1__child2__grandchild3, .footer__boxes__box1__child2__grandchild2, .footer__boxes__box1__child2__grandchild1 {
  position: relative;
  color: #272C48;
}

.head__nav {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px;
}
@media screen and (max-width: 500px) {
  .head__nav {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 1100px) {
  .head__nav {
    display: flex;
    flex-direction: column;
  }
}
.head__nav__img {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.head__nav__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .head__nav__img {
    transform: translateX(30px);
  }
}
.head__nav__ul {
  display: flex;
}
@media screen and (max-width: 500px) {
  .head__nav__ul {
    position: relative;
    left: 12px;
  }
}
.head__nav__ul__li {
  padding: 15px;
  font-weight: 600;
  border-radius: 20px;
}
.head__nav__ul__li a {
  color: #8A8BA1;
}
.head__nav__ul__li:hover {
  font-weight: bold;
  background-color: #ECEBF6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.head__nav__ul__li:hover a {
  color: #272C48;
}
.head__nav__ul__li:active {
  transform: scale(0.9);
}
@media screen and (max-width: 500px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__button__group {
    position: relative;
    left: 19px;
  }
}
.head__nav__button__group__login {
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
}
.head__nav__button__group__login:hover {
  opacity: 1;
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}
.head__nav__button__group__login:active {
  transform: scale(0.94);
}
.head__nav__button__group__signup {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #ECEBF6;
  background-color: #272C48;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.head__nav__button__group__signup:hover {
  opacity: 1;
  font-weight: bold;
  padding: 15px 25px;
  background-color: #ECEBF6;
  color: #272C48;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}
@media screen and (max-width: 500px) {
  .head__nav__button__group__signup {
    font-size: 10px;
  }
}
.head__nav__button__group__signup:active {
  transform: scale(0.94);
}
@media screen and (max-width: 500px) {
  .head__nav__button__group__signup:active {
    font-size: 10px;
  }
}

.aside__p {
  font-weight: bold;
  color: #D4357D;
  display: flex;
  justify-content: start;
  text-align: start;
  position: relative;
  left: 40px;
  top: 20px;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .aside__p {
    font-size: 10px;
  }
}

.section {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translateY(-25px);
}
@media screen and (max-width: 500px) {
  .section {
    transform: translateX(5px);
  }
}
.section__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(25px);
}
.section__article__free {
  font-size: 25px;
  font-weight: bolder;
  color: #272C48;
  margin-bottom: -1px;
}
@media screen and (max-width: 500px) {
  .section__article__free {
    font-size: 20px;
    transform: translateX(-5px);
  }
}
.section__article__free__the {
  text-align: center;
  width: 500px;
  transform: translateX(64px);
  font-weight: 550;
  margin-top: 25px;
  margin-bottom: -0.3 px;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .section__article__free__the {
    transform: translateX(-5px);
    width: 300px;
    font-size: 12px;
  }
}
.section__form {
  border: 1px #ECEBF6 solid;
  font-size: 25px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 600px;
}
@media screen and (max-width: 500px) {
  .section__form {
    width: 300px;
    padding: 3px 0;
    transform: translateX(-5px);
  }
}
.section__form__p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9;
  margin-left: 20px;
}
.section__form__down {
  font-size: 17px;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 35px;
  cursor: pointer;
}
.section__form__down:active {
  transform: scale(0.9);
}
.section__form__search {
  opacity: 0.4;
  position: relative;
  bottom: 2px;
  margin-left: 12px;
}
.section__form__input {
  border: none;
  font-weight: bold;
  opacity: 0.6;
  position: relative;
  bottom: 2px;
  font-size: 15px;
  border-radius: 20px;
  padding: 15px 10px;
}
@media screen and (max-width: 500px) {
  .section__form__input {
    width: 90px;
    margin-left: 10px;
  }
}
.section__form__input:hover {
  opacity: 1;
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
}
.section__form__input:hover a {
  color: #272C48;
}
.section__form__input:active {
  transform: scale(0.94);
}

.footer {
  transform: translateY(200px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .footer {
    transform: translateY(-250px);
    margin-top: 280px;
  }
}
.footer__nav {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}
.footer__nav__switch {
  position: relative;
  top: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  left: 30px;
  cursor: pointer;
  display: inline-block;
  width: 225px;
  height: 44px;
}
@media screen and (max-width: 500px) {
  .footer__nav__switch {
    position: relative;
    top: 70px;
    left: 5px;
  }
}
.footer__nav__switch:active {
  transform: scale(0.99);
}
.footer__nav__switch::before {
  content: "Latest";
  z-index: 2;
  position: absolute;
  top: 12px;
  font-weight: bolder;
  left: 33px;
  z-index: 2;
  color: #8A8BA1;
}
.footer__nav__switch::after {
  content: "Popular";
  float: right;
  font-weight: bolder;
  color: #8A8BA1;
  position: relative;
  top: 11px;
  left: -25px;
}
.footer__nav__switch__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.footer__nav__switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272C48;
  transition: 0.4s;
  border-radius: 40px;
}
.footer__nav__switch__slider::before {
  position: absolute;
  height: 40px;
  content: "";
  width: 100px;
  left: 10px;
  bottom: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 40px;
}
.footer__nav__switch__input:checked + .footer__nav__switch__slider {
  background-color: #ECEBF6;
}
.footer__nav__switch__input:checked + .footer__nav__switch__slider::before {
  transform: translateX(107px);
}
.footer__nav__switch__input:not(:checked) + .footer__nav__switch__slider {
  background-color: #ECEBF6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .footer__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.footer__nav__btn__group {
  margin-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 9%;
}
@media screen and (max-width: 500px) {
  .footer__nav__btn__group {
    position: relative;
    top: 650px;
    z-index: 2;
    margin-left: -24px;
  }
}
.footer__nav__btn__group__child1:active {
  transform: scale(0.9);
}
.footer__nav__btn__group__child2:active {
  transform: scale(0.9);
}
.footer__nav__btn__group__child3:active {
  transform: scale(0.9);
}
.footer__nav__btn__group__child4:active {
  transform: scale(0.9);
}
.footer__nav__btn__group__child5:active {
  transform: scale(0.9);
}
@media screen and (max-width: 500px) {
  .footer__nav__icons {
    position: relative;
    top: 1140px;
    margin-left: 36%;
    z-index: 2;
  }
}
.footer__nav__icons__figma {
  background: linear-gradient(#D4357D, #272C48);
}
.footer__nav__icons__figma:active {
  transform: scale(0.9);
}
.footer__nav__icons__gem {
  color: #ECB332;
}
.footer__nav__icons__gem:active {
  transform: scale(0.9);
}
.footer__nav__icons__js {
  color: #D4357D;
}
.footer__nav__icons__js:active {
  transform: scale(0.9);
}
.footer__nav__icons__css {
  color: #27B8BF;
}
.footer__nav__icons__css:active {
  transform: scale(0.9);
}
.footer__nav__icons__sass {
  color: #D4357D;
}
.footer__nav__icons__sass:active {
  transform: scale(0.9);
}
.footer__boxes {
  -webkit-tap-highlight-color: transparent;
  transform: translateY(50px);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 200px;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .footer__boxes {
    transform: translateX(20px);
  }
}
.footer__boxes__box1 {
  background: rgba(60, 158, 163, 0.1);
  width: 470px;
  margin-bottom: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: rgba(60, 158, 163, 0);
  transition: transform 0.4s ease;
}
.footer__boxes__box1:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1 {
    width: 350px;
    transform: translateX(-20px);
    margin-bottom: 200px;
  }
}
.footer__boxes__box1__child2__grandchild1 {
  width: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  top: 120px;
}
.footer__boxes__box1__child2__grandchild2 {
  top: 72px;
  left: 70px;
}
.footer__boxes__box1__child2__grandchild3 {
  top: 38px;
  left: 100px;
  font-weight: bold;
  width: 200px;
}
.footer__boxes__box1__child2__grandchild4 {
  padding-left: 20px;
  left: 340px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1__child2__grandchild4 {
    margin-left: -20px;
    transform: translateX(-100px);
  }
}
.footer__boxes__box1__child2__grandchild5 {
  left: 360px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1__child2__grandchild5 {
    transform: translateX(-100px);
  }
}
.footer__boxes__box1__child {
  width: 60%;
  height: 60%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #272C48;
  border-radius: 4px;
  padding: 8% 10%;
  font-weight: bold;
  letter-spacing: 0.1px;
  background-color: white;
  position: relative;
  left: 90px;
  top: 30px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1__child {
    width: 80%;
    margin-top: 10px;
    transform: translateX(-50px);
  }
}
.footer__boxes__box1__child__grandchild1 {
  font-size: 10px;
}
.footer__boxes__box1__child__grandchild2 {
  font-size: 8px;
}
.footer__boxes__box1__child__aside {
  position: relative;
  display: flex;
}
.footer__boxes__box1__child__aside1__grandchild3 {
  font-size: 9px;
}
.footer__boxes__box1__child__aside1__grandchild4 {
  font-size: 4px;
  width: 85px;
}
.footer__boxes__box1__child__aside1__grandchild5-2 {
  position: relative;
  top: 9px;
}
.footer__boxes__box1__child__aside1__grandchild6 {
  font-size: 4px;
  position: relative;
  top: 10px;
}
.footer__boxes__box1__child__aside2 {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1__child__aside2 {
    padding-left: 20%;
  }
}
.footer__boxes__box1__child__aside2__grandchild7 {
  font-size: 9px;
}
.footer__boxes__box1__child__aside2__grandchild8 {
  font-size: 4px;
  margin-top: -1%;
  width: 75px;
}
.footer__boxes__box1__child__aside2__grandchild9-2 {
  position: relative;
  top: 22%;
}
.footer__boxes__box1__child__aside2__grandchild10 {
  padding-top: 13%;
  font-size: 4px;
}
.footer__boxes__box1__child__aside2__grandchild11 {
  font-size: 4px;
}
.footer__boxes__box1__child__aside2__grandchild12 {
  font-size: 4px;
}
.footer__boxes__box2 {
  width: 470px;
  margin-bottom: 200px;
  background-color: #272C48;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: rgba(60, 158, 163, 0);
  transition: transform 0.4s ease;
}
.footer__boxes__box2:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2 {
    width: 90%;
    transform: translateX(-20px);
    margin-bottom: 250px;
  }
}
.footer__boxes__box2__child3 {
  color: #272C48;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 3px;
  position: relative;
  top: -98%;
  left: 379px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2__child3 {
    position: relative;
    transform: translateY(8px);
    left: 300px;
  }
}
.footer__boxes__box2__child2 {
  background: rgba(90, 100, 159, 0.2);
  width: 30%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  height: 150px;
  border-radius: 5px;
  position: relative;
  top: -170px;
  left: 260px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2__child2 {
    position: relative;
    top: -46%;
    width: 37%;
    left: 55%;
  }
}
.footer__boxes__box2__child2__grandchild1 {
  z-index: 2;
  position: relative;
  top: 20px;
  left: 20px;
}
.footer__boxes__box2__child2__grandchild2 {
  position: relative;
  top: -7px;
  color: white;
  left: 40px;
  font-size: 10px;
}
.footer__boxes__box2__child2__grandchild3 {
  z-index: 2;
  position: relative;
  top: -5px;
  left: 20px;
}
.footer__boxes__box2__child2__grandchild4 {
  position: relative;
  top: -33px;
  color: white;
  left: 40px;
  font-size: 10px;
}
.footer__boxes__box2__child2__grandchild5 {
  color: white;
  font-size: 5px;
  position: relative;
  top: -25px;
  padding-top: 24%;
  left: 70px;
}
.footer__boxes__box2__child2__grandchild6 {
  color: white;
  font-size: 5px;
  position: relative;
  padding-top: 18%;
  top: -18px;
  left: 70px;
}
.footer__boxes__box2__child2__switch1 {
  position: absolute;
  top: 80px;
  z-index: 2;
  left: 20px;
  display: inline-block;
  width: 45px;
  height: 24px;
}
.footer__boxes__box2__child2__switch1__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.footer__boxes__box2__child2__switch1__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272C48;
  transition: 0.4s;
  border-radius: 40px;
}
.footer__boxes__box2__child2__switch1__slider::before {
  position: absolute;
  height: 20px;
  content: "";
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 40px;
}
.footer__boxes__box2__child2__switch1__input:checked + .footer__boxes__box2__child2__switch1__slider {
  background-color: #2196F3;
}
.footer__boxes__box2__child2__switch1__input:checked + .footer__boxes__box2__child2__switch1__slider::before {
  transform: translateX(18px);
}
.footer__boxes__box2__child2__switch2 {
  position: absolute;
  top: 120px;
  left: 20px;
  display: inline-block;
  width: 45px;
  height: 24px;
}
.footer__boxes__box2__child2__switch2__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.footer__boxes__box2__child2__switch2__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272C48;
  transition: 0.4s;
  border-radius: 40px;
}
.footer__boxes__box2__child2__switch2__slider::before {
  position: absolute;
  height: 20px;
  content: "";
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 40px;
}
.footer__boxes__box2__child2__switch2__input:checked + .footer__boxes__box2__child2__switch2__slider {
  background-color: #2196F3;
}
.footer__boxes__box2__child2__switch2__input:checked + .footer__boxes__box2__child2__switch2__slider::before {
  transform: translateX(18px);
}
.footer__boxes__box2__child1 {
  width: 30%;
  height: 60%;
  background: rgba(90, 100, 159, 0.3);
  position: relative;
  top: 11%;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  left: 20%;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2__child1 {
    width: 40%;
    position: relative;
    top: 50px;
    left: 30px;
  }
}
.footer__boxes__box2__child1__grandchild1 {
  z-index: 2;
  position: relative;
  top: 10px;
  left: 10px;
  background-color: #272C48;
}
.footer__boxes__box2__child1__grandchild2 {
  color: #ffffff;
  position: relative;
  left: 30px;
  top: -10px;
  font-size: 10px;
}
.footer__boxes__box2__child1__grandchild3 {
  z-index: 2;
  position: relative;
  right: 69px;
  top: 20px;
  font-size: 12px;
}
.footer__boxes__box2__child1__grandchild4 {
  position: relative;
  right: -30px;
  top: -8px;
  color: #ffffff;
  font-size: 10px;
}
.footer__boxes__box2__child1__grandchild5 {
  color: #b6b8c4;
  margin: 4px;
  font-size: 10px;
  position: relative;
  left: 5px;
}
.footer__boxes__box2__child1__grandchild6 {
  z-index: 2;
  position: relative;
  left: 10px;
}
.footer__boxes__box2__child1__grandchild7 {
  color: white;
  font-size: 10px;
  position: relative;
  left: 15px;
  top: -3px;
}
.footer__boxes__box2__child1__grandchild8 {
  position: relative;
  left: 10px;
  top: 3px;
}
.footer__boxes__box2__child1__grandchild9 {
  color: white;
  font-size: 10px;
  position: relative;
  left: 15px;
}
.footer__boxes__box2__child1__grandchild10 {
  color: white;
  font-size: 10px;
  position: relative;
  left: 11px;
}
.footer__boxes__box2__child1__grandchild11 {
  color: white;
  font-size: 10px;
  position: relative;
  top: 10px;
  left: 11px;
}
.footer__boxes__box2__child4 {
  position: relative;
  bottom: 381px;
}
.footer__boxes__box2__child4__grandchild1 {
  width: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  top: 325px;
}
.footer__boxes__box2__child4__grandchild2 {
  top: 280px;
  left: 70px;
}
.footer__boxes__box2__child4__grandchild3 {
  top: 245px;
  left: 100px;
  font-weight: bold;
  width: 200px;
}
.footer__boxes__box2__child4__grandchild4 {
  top: 210px;
  padding-left: 20px;
  left: 340px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2__child4__grandchild4 {
    margin-left: -20px;
    transform: translateX(-100px);
  }
}
.footer__boxes__box2__child4__grandchild5 {
  left: 360px;
  top: 210px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2__child4__grandchild5 {
    transform: translateX(-100px);
  }
}
.footer__boxes__box3 {
  width: 470px;
  background: rgba(212, 53, 125, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: rgba(60, 158, 163, 0);
  transition: transform 0.4s ease;
}
.footer__boxes__box3:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3 {
    width: 350px;
    transform: translateX(-20px);
    margin-bottom: 200px;
  }
}
.footer__boxes__box3__child1 {
  width: 230px;
  height: 160px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  left: 90px;
  top: 30px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child1 {
    position: relative;
    left: 30px;
    width: 200px;
    top: 50px;
  }
}
.footer__boxes__box3__child1__grandchild1 {
  font-size: 11px;
  width: 100px;
  color: #272C48;
  font-weight: bold;
}
.footer__boxes__box3__child1__grandchild2 {
  font-size: 8px;
  border: 0.001px solid rgb(187, 180, 180);
  width: 88px;
  padding: 6px;
  border-radius: 6px;
  position: relative;
  top: 20px;
  color: #272C48;
  font-weight: bold;
}
.footer__boxes__box3__child1__grandchild3 {
  font-size: 5px;
  border: 0.001px solid rgb(187, 180, 180);
  margin-top: 10px;
  width: 88px;
  background-color: #272C48;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  text-align: center;
  top: 20px;
  color: #ECEBF6;
  font-weight: bold;
}
.footer__boxes__box3__child1__grandchild4 {
  color: #ffffff;
  position: relative;
  padding: 10px;
  top: -100px;
  left: 160px;
  border-radius: 20px;
  background-color: #272C48;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child1__grandchild4 {
    position: relative;
    left: 135px;
  }
}
.footer__boxes__box3__child2 {
  position: relative;
  top: -290px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child2 {
    position: relative;
    top: -290px;
  }
}
.footer__boxes__box3__child2__grandchild1 {
  width: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  top: 325px;
}
.footer__boxes__box3__child2__grandchild2 {
  top: 280px;
  left: 70px;
}
.footer__boxes__box3__child2__grandchild3 {
  top: 245px;
  left: 100px;
  font-weight: bold;
  width: 200px;
}
.footer__boxes__box3__child2__grandchild4 {
  top: 210px;
  padding-left: 20px;
  left: 340px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child2__grandchild4 {
    margin-left: -20px;
    transform: translateX(-100px);
  }
}
.footer__boxes__box3__child2__grandchild5 {
  left: 360px;
  top: 210px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child2__grandchild5 {
    transform: translateX(-100px);
  }
}
.footer__boxes__box3__child3 {
  width: 130px;
  height: 130px;
  background-color: #272C48;
  border-radius: 5px;
  position: relative;
  top: -40px;
  left: 255px;
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3__child3 {
    position: relative;
    left: 160px;
    top: -15px;
  }
}/*# sourceMappingURL=style.css.map */