@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");

@import "./colors";

*{
    list-style-type: none;
    text-decoration: none;
    font-family: "Muli",sans-serif;
    letter-spacing: 0.1px;
    box-sizing: border-box;
}

@import "./media_queries";

hr{
    opacity: 0.2;
}
body{
    overflow-x: hidden;
}

@import "./header";

@import "./aside";

@import "./section";

@import "./references";

@import "./footer";
