@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");

$white:#ECEBF6;
$blue:#272C48;
$pink:#D4357D;
$gray:#8A8BA1;
$brown:#ECB332;
$lightBlue:#27B8BF;

*{
    list-style-type: none;
    text-decoration: none;
    font-family: "Muli",sans-serif;
    letter-spacing: 0.1px;
    box-sizing: border-box;
}

@mixin large-screen {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
@mixin medium-screen {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
@mixin small-screen {
    @media screen and (max-width: 500px) {
      @content;
    }
  }  
hr{
    opacity: 0.2;
}

.head__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px;
    @include small-screen{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        transform: translateX(-32px);
    }
    @include medium-screen{
        display: flex;
        flex-direction: column;
    }
    @include large-screen{
        display: flex;
        flex-direction: column;
    }
    &__img{
        cursor: pointer;
        @include small-screen{
            transform: translateX(30px);
        }
    }
    &__ul{
        display: flex;
        &__li{
            margin: auto 4px;
            font-weight: 600;
            a{color:$gray;}
            &:hover{
                font-weight: bold;
                background-color: $white;
                padding: 10px;
                border-radius: 20px;
                transition: .4s ease;
                a{color:$blue;}
            }
            @include large-screen{
                display: flex;
                flex-direction: column;
                margin: auto 50px;
            }
            @include medium-screen{
                display: flex;
                flex-direction: column;
                margin: auto 20px;
            }
            @include small-screen{
                display: flex;
                flex-direction: column;
                margin: auto 7px;
                font-size: 14px;
                transform: translateX(10px);
            }
            
        }
    }
    &__login{
        font-weight: bold;
        background-color: white;
        border: none;
        cursor: pointer;
        margin-right: -330px;
        &:active{
            transform: scale(.94);
            @include small-screen{
                transform: translateX(31px);
            }
        }
        @include large-screen{
            margin: 10px;
        }
        @include medium-screen{
            margin: 10px;
        }
        @include small-screen{
            transform: translateX(30px);
        }
    }
    &__signup{
        font-weight: bold;
        border: none;
        cursor: pointer;
        color: $white;
        background-color: $blue;
        padding: 15px 25px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        @include small-screen{
            font-size: 10px;
            transform: translateX(30px);
        }
        &:active{
            transform: scale(.94);
            @include small-screen{
                font-size: 10px;
                transform: translateX(31px);
            }
        }
    }
}
.section{
    display: flex;
    text-align: center;
    justify-content: center;
    transform: translateY(-25px);
    @include small-screen{
        transform: translateX(5px);
    }
    &__article{
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateY(25px);
        &__p{
            font-weight: bold;
            color: $pink;
            transform: translateX(-680px);
            opacity: 0.7;
            @include large-screen{
                transform: translateX(-340px);
            }
            @include medium-screen{
                transform: translateX(-200px);
            }
            @include small-screen{
                font-size: 10px;
                transform: translateX(-140px);
            }
        }
        &__free{
            font-size: 25px;
            font-weight: bolder;
            color: $blue;
            margin-bottom: -1px;
            @include small-screen{
                font-size: 20px;
                transform: translateX(-5px);
            }
            &__the{
                text-align: center;
                width: 500px;
                transform: translateX(64px);
                font-weight: 550;
                margin-top: 25px;
                margin-bottom: -(0.3)px;
                opacity: 0.7;
                @include small-screen{
                transform: translateX(-5px);
                width: 300px;
                font-size: 12px;
                }
            }
        }
        
    }
    &__form{
        border: 1px $white solid;
        font-size: 25px;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        display:flex;
        align-items: center;
        width: 600px;
        @include small-screen{
            width: 300px;
            padding: 3px 0;
            transform: translateX(-5px);
        }
        &__p{
            font-size: 14px;
            font-weight: bold;
            opacity: 0.9;
            margin-left: 20px;
        }
        &__down{
            font-size: 17px;
            opacity: 0.8;
            margin-left: 20px;
            margin-right: 35px;
            cursor: pointer;
            &:active{
                transform: scale(.90);
            }
        }
        &__search{
            opacity: 0.4;
            margin-left: 12px;
        }
        &__input{
            border: none;
            font-weight: 600;
            opacity: 0.6;
            font-size: 15px;
            border-radius: 20px;
            padding: 10px;
            @include small-screen{
                width: 90px;
                margin-left: 10px;
            }
            &:hover{
                font-weight: bold;
                background-color: $white;
                padding: 10px;
                border-radius: 20px;
                transition: .4s ease;
                a{color:$blue;}
            }
            &:active{
                transform: scale(.94);
            }
        }
    }
}
.box{
    width: 30%;
    height: 350px;
    border-radius: 20px;
}
.gem{
    font-size: 25px;
    background-color: white;
    position: relative;
    top: 30px;
    border-radius: 30px;
    padding: 10px;
    left: 30px;
    color: $brown;
}
.grandchild{
    background: rgb(61, 85, 182);
    width: 60px;
    text-align: center;
    font-size: 5px;
    color: white;
    border-radius: 3px;
    height: 20px;
}
.btn{
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgba(39, 44, 72,0.6);
    border: none;
    padding: 14px;
    cursor: pointer;
    &:hover{
        border: 00.1px solid gray ;
        border-radius: 24px;
        transition: .4s ease;
        color: rgba(39, 44, 72,1);
    }
}
.icon{
    border: 0.1px rgb(234, 230, 223) solid;
    margin: 14px;
    padding: 14px;
    font-size: 20px;
    border-radius: 30px;
    transform: translateX(-60px);
    cursor: pointer;
    &:hover{
        border: 00.1px solid $pink ;
        border-radius: 40px;
        transition: .4s ease-in;
    }
}
.footer{
    transform: translateY(200px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1) ;
    @include small-screen{
        transform: translateY(90px);
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        @include small-screen{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__btn__group{
            margin-top: 10px;
            transform: translateX(168px);
            @include small-screen{
                transform: translateY(630px);
                margin-left: -95px
            }
            &__child1{
                @extend .btn;
            }
            &__child2{
                @extend .btn;
            }
            &__child3{
                @extend .btn;
            }
            &__child4{
                @extend .btn;
            }
            &__child5{
                @extend .btn;
            }
        }
        &__icons{
            @include small-screen{
                transform: translateY(1075px);
                margin-left: 120px;
            }
            &__figma{
                @extend .icon;
                background: linear-gradient($pink,$blue)
            }
            &__gem{
                @extend .icon;
                color: $brown;
            }
            &__js{
                @extend .icon;
                color: $pink;
            }
            &__css{
                @extend .icon;
                color: $lightBlue
            }
            &__sass{
                @extend .icon;
                color: $pink;
            }
        }
    }
    &__boxes{
        transform: translateY(50px);
        display: flex;
        justify-content: space-around;
        padding-bottom: 200px;
        @include small-screen{
            flex-wrap: wrap;
            transform: translateX(20px)
        }
    &__box1{
        @extend .box;
        background: rgba(60, 158, 163, 0.1);
        @include small-screen{
            width: 350px;
            transform: translateX(-20px);
            margin-bottom: 200px;
        }
        &__child{
            width: 60%;
            height: 60%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1) ;
            border-radius: 4px;
            transform: translateX(-10px);
            padding: 25px 40px;
            font-weight: bold;
            letter-spacing: 0.1px;
            background-color: white;
            position: relative;
            left: 90px;
            top: 30px;
            @include small-screen{
                width: 80%;
                margin-top: 10px;
                transform: translateX(-50px);
            }
            &__grandchild1{
                font-size: 10px
            }
            &__grandchild2{
                font-size: 8px
            }
            &__grandchild3{
                font-size: 9px
            }
            &__grandchild4{
                font-size: 4px;
                width:85px
            }
            &__grandchild5{
                @extend .grandchild;
                &-2{
                    transform: translateY(8px);
                }
            }
            &__grandchild6{
                font-size: 4px;
                transform: translateY(6px);
            }
            &__grandchild7{
                float: right;
                margin-right: 13px;
                font-size: 9px;
                transform: translateY(-85px);
            }
            &__grandchild8{
                float:right;
                transform: translateY(-90px);
                margin-left: 100px;
                font-size: 4px;
                width:75px;
            }
            &__grandchild9{
                @extend .grandchild;
                margin-right: 15px;
                float: right;
                transform: translateY(-90px);
                &-2{
                    transform: translateY(4px);
                }
            }
            &__grandchild10{
                font-size: 4px;
                transform: translateX(120px);
            }
            &__grandchild11{
                font-size: 4px;
                transform: translateX(120px);
            }
            &__grandchild12{
                font-size: 4px;
                transform: translateX(120px);
            }
        }
    }
    &__box2{
        @extend .box;
        background-color: $blue;
        @include small-screen{
            width: 350px;
            transform: translateX(-20px);
            margin-bottom: 200px;
        }
    }
    &__box3{
        @extend .box;
        background: rgba(212, 53, 125, 0.1);
        @include small-screen{
            width: 350px;
            transform: translateX(-20px);
            margin-bottom: 200px;
        }
    }
    }
}

