@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1px;
}

hr {
  opacity: 0.2;
}

.head__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 25px;
}
@media screen and (max-width: 500px) {
  .head__nav {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transform: translateX(-50px);
  }
}
@media screen and (max-width: 768px) {
  .head__nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .head__nav {
    display: flex;
    flex-direction: column;
  }
}
.head__nav__img {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .head__nav__img {
    transform: translateX(25px);
  }
}
.head__nav__ul {
  display: flex;
}
.head__nav__ul__li {
  margin: auto 4px;
  font-weight: 600;
}
.head__nav__ul__li a {
  color: #8A8BA1;
}
.head__nav__ul__li:hover {
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.head__nav__ul__li:hover a {
  color: #272C48;
}
@media screen and (max-width: 1200px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 50px;
  }
}
@media screen and (max-width: 768px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 7px;
    font-size: 14px;
    transform: translateX(10px);
  }
}
.head__nav__login {
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: -330px;
}
.head__nav__login:active {
  transform: scale(0.94);
}
@media screen and (max-width: 500px) {
  .head__nav__login:active {
    transform: translateX(21px);
  }
}
@media screen and (max-width: 1200px) {
  .head__nav__login {
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .head__nav__login {
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__login {
    transform: translateX(20px);
  }
}
.head__nav__signup {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #ECEBF6;
  background-color: #272C48;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .head__nav__signup {
    font-size: 10px;
    transform: translateX(20px);
  }
}
.head__nav__signup:active {
  transform: scale(0.94);
}
@media screen and (max-width: 500px) {
  .head__nav__signup:active {
    font-size: 10px;
    transform: translateX(21px);
  }
}

.section {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translateY(-25px);
}
.section__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(25px);
}
.section__article__p {
  font-weight: bold;
  color: #D4357D;
  transform: translateX(-680px);
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .section__article__p {
    transform: translateX(-340px);
  }
}
@media screen and (max-width: 768px) {
  .section__article__p {
    transform: translateX(-200px);
  }
}
@media screen and (max-width: 500px) {
  .section__article__p {
    font-size: 10px;
    transform: translateX(-160px);
  }
}
.section__article__free {
  font-size: 25px;
  font-weight: bolder;
  color: #272C48;
  margin-bottom: -1px;
}
@media screen and (max-width: 500px) {
  .section__article__free {
    font-size: 20px;
    transform: translateX(-25px);
  }
}
.section__article__free__the {
  text-align: center;
  width: 500px;
  transform: translateX(64px);
  font-weight: 550;
  margin-top: 25px;
  margin-bottom: -0.3 px;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .section__article__free__the {
    transform: translateX(-25px);
    width: 300px;
    font-size: 12px;
  }
}
.section__form {
  border: 1px #ECEBF6 solid;
  font-size: 25px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 600px;
}
@media screen and (max-width: 500px) {
  .section__form {
    width: 300px;
    padding: 3px 0;
    transform: translateX(-25px);
  }
}
.section__form__p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9;
  margin-left: 20px;
}
.section__form__down {
  font-size: 17px;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 35px;
  cursor: pointer;
}
.section__form__down:active {
  transform: scale(0.9);
}
.section__form__search {
  opacity: 0.4;
  margin-left: 12px;
}
.section__form__input {
  border: none;
  font-weight: 600;
  opacity: 0.6;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .section__form__input {
    width: 90px;
    margin-left: 10px;
  }
}
.section__form__input:hover {
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.section__form__input:hover a {
  color: #272C48;
}
.section__form__input:active {
  transform: scale(0.94);
}/*# sourceMappingURL=style.css.map */