@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1px;
  box-sizing: border-box;
}

hr {
  opacity: 0.2;
}

.head__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 25px;
}
@media screen and (max-width: 500px) {
  .head__nav {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 768px) {
  .head__nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .head__nav {
    display: flex;
    flex-direction: column;
  }
}
.head__nav__img {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .head__nav__img {
    transform: translateX(30px);
  }
}
.head__nav__ul {
  display: flex;
}
.head__nav__ul__li {
  margin: auto 4px;
  font-weight: 600;
}
.head__nav__ul__li a {
  color: #8A8BA1;
}
.head__nav__ul__li:hover {
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.head__nav__ul__li:hover a {
  color: #272C48;
}
@media screen and (max-width: 1200px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 50px;
  }
}
@media screen and (max-width: 768px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__ul__li {
    display: flex;
    flex-direction: column;
    margin: auto 7px;
    font-size: 14px;
    transform: translateX(10px);
  }
}
.head__nav__login {
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: -330px;
}
.head__nav__login:active {
  transform: scale(0.94);
}
@media screen and (max-width: 500px) {
  .head__nav__login:active {
    transform: translateX(31px);
  }
}
@media screen and (max-width: 1200px) {
  .head__nav__login {
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .head__nav__login {
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__login {
    transform: translateX(30px);
  }
}
.head__nav__signup {
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #ECEBF6;
  background-color: #272C48;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .head__nav__signup {
    font-size: 10px;
    transform: translateX(30px);
  }
}
.head__nav__signup:active {
  transform: scale(0.94);
}
@media screen and (max-width: 500px) {
  .head__nav__signup:active {
    font-size: 10px;
    transform: translateX(31px);
  }
}

.section {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translateY(-25px);
}
@media screen and (max-width: 500px) {
  .section {
    transform: translateX(5px);
  }
}
.section__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(25px);
}
.section__article__p {
  font-weight: bold;
  color: #D4357D;
  transform: translateX(-680px);
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .section__article__p {
    transform: translateX(-340px);
  }
}
@media screen and (max-width: 768px) {
  .section__article__p {
    transform: translateX(-200px);
  }
}
@media screen and (max-width: 500px) {
  .section__article__p {
    font-size: 10px;
    transform: translateX(-140px);
  }
}
.section__article__free {
  font-size: 25px;
  font-weight: bolder;
  color: #272C48;
  margin-bottom: -1px;
}
@media screen and (max-width: 500px) {
  .section__article__free {
    font-size: 20px;
    transform: translateX(-5px);
  }
}
.section__article__free__the {
  text-align: center;
  width: 500px;
  transform: translateX(64px);
  font-weight: 550;
  margin-top: 25px;
  margin-bottom: -0.3 px;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .section__article__free__the {
    transform: translateX(-5px);
    width: 300px;
    font-size: 12px;
  }
}
.section__form {
  border: 1px #ECEBF6 solid;
  font-size: 25px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 600px;
}
@media screen and (max-width: 500px) {
  .section__form {
    width: 300px;
    padding: 3px 0;
    transform: translateX(-5px);
  }
}
.section__form__p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9;
  margin-left: 20px;
}
.section__form__down {
  font-size: 17px;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 35px;
  cursor: pointer;
}
.section__form__down:active {
  transform: scale(0.9);
}
.section__form__search {
  opacity: 0.4;
  margin-left: 12px;
}
.section__form__input {
  border: none;
  font-weight: 600;
  opacity: 0.6;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .section__form__input {
    width: 90px;
    margin-left: 10px;
  }
}
.section__form__input:hover {
  font-weight: bold;
  background-color: #ECEBF6;
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.section__form__input:hover a {
  color: #272C48;
}
.section__form__input:active {
  transform: scale(0.94);
}

.box, .footer__boxes__box3, .footer__boxes__box2, .footer__boxes__box1 {
  width: 30%;
  height: 350px;
  border-radius: 20px;
}

.gem {
  font-size: 25px;
  background-color: white;
  position: relative;
  top: 30px;
  border-radius: 30px;
  padding: 10px;
  left: 30px;
  color: #ECB332;
}

.grandchild, .footer__boxes__box1__child__grandchild9, .footer__boxes__box1__child__grandchild5 {
  background: rgb(61, 85, 182);
  width: 60px;
  text-align: center;
  font-size: 5px;
  color: white;
  border-radius: 3px;
  height: 20px;
}

.btn, .footer__nav__btn__group__child5, .footer__nav__btn__group__child4, .footer__nav__btn__group__child3, .footer__nav__btn__group__child2, .footer__nav__btn__group__child1 {
  background: rgb(255, 255, 255);
  font-weight: bold;
  color: rgba(39, 44, 72, 0.6);
  border: none;
  padding: 14px;
  cursor: pointer;
}
.btn:hover, .footer__nav__btn__group__child5:hover, .footer__nav__btn__group__child4:hover, .footer__nav__btn__group__child3:hover, .footer__nav__btn__group__child2:hover, .footer__nav__btn__group__child1:hover {
  border: 0.1px solid gray;
  border-radius: 24px;
  transition: 0.4s ease;
  color: rgb(39, 44, 72);
}

.icon, .footer__nav__icons__sass, .footer__nav__icons__css, .footer__nav__icons__js, .footer__nav__icons__gem, .footer__nav__icons__figma {
  border: 0.1px rgb(234, 230, 223) solid;
  margin: 14px;
  padding: 14px;
  font-size: 20px;
  border-radius: 30px;
  transform: translateX(-60px);
  cursor: pointer;
}
.icon:hover, .footer__nav__icons__sass:hover, .footer__nav__icons__css:hover, .footer__nav__icons__js:hover, .footer__nav__icons__gem:hover, .footer__nav__icons__figma:hover {
  border: 0.1px solid #D4357D;
  border-radius: 40px;
  transition: 0.4s ease-in;
}

.toggle, .footer__nav__switch::after, .footer__nav__switch::before {
  z-index: 2;
  position: absolute;
  top: 15px;
  font-weight: bolder;
}

.footer {
  transform: translateY(200px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .footer {
    transform: translateY(-250px);
    margin-top: 100px;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.footer__nav__switch {
  position: relative;
  width: 220px;
  top: 20px;
  height: 70px;
  transform: translateX(40px);
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .footer__nav__switch {
    transform: translateY(170px);
  }
}
.footer__nav__switch::before {
  content: "Latest";
  left: 33px;
  opacity: 0.7;
}
.footer__nav__switch::after {
  content: "Popular";
  right: 20px;
  opacity: 0.4;
}
.footer__nav__switch__switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background: rgba(236, 235, 246, 0.9);
  outline: none;
  transition: 0.25s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.footer__nav__switch__switcher:checked {
  background: rgba(235, 230, 230, 0.4);
}
.footer__nav__switch__switcher:checked + label {
  left: 10px;
  right: 110px;
  background: #ffffff;
  transition: left 0.5s, right 0.4s 0.2s;
}
.footer__nav__switch__label {
  z-index: 1;
  position: absolute;
  top: 5px;
  bottom: 24px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  .footer__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.footer__nav__btn__group {
  margin-top: 10px;
  transform: translateX(80px);
}
@media screen and (max-width: 500px) {
  .footer__nav__btn__group {
    transform: translateY(630px);
    margin-left: 5px;
  }
}
@media screen and (max-width: 500px) {
  .footer__nav__icons {
    transform: translateY(1075px);
    margin-left: 120px;
  }
}
.footer__nav__icons__figma {
  background: linear-gradient(#D4357D, #272C48);
}
.footer__nav__icons__gem {
  color: #ECB332;
}
.footer__nav__icons__js {
  color: #D4357D;
}
.footer__nav__icons__css {
  color: #27B8BF;
}
.footer__nav__icons__sass {
  color: #D4357D;
}
.footer__boxes {
  transform: translateY(50px);
  display: flex;
  justify-content: space-around;
  padding-bottom: 200px;
}
@media screen and (max-width: 500px) {
  .footer__boxes {
    flex-wrap: wrap;
    transform: translateX(20px);
  }
}
.footer__boxes__box1 {
  background: rgba(60, 158, 163, 0.1);
  color: rgba(60, 158, 163, 0);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1 {
    width: 350px;
    transform: translateX(-20px);
    margin-bottom: 200px;
  }
}
.footer__boxes__box1__child {
  width: 60%;
  height: 60%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #272C48;
  border-radius: 4px;
  transform: translateX(-10px);
  padding: 25px 40px;
  font-weight: bold;
  letter-spacing: 0.1px;
  background-color: white;
  position: relative;
  left: 90px;
  top: 30px;
}
@media screen and (max-width: 500px) {
  .footer__boxes__box1__child {
    width: 80%;
    margin-top: 10px;
    transform: translateX(-50px);
  }
}
.footer__boxes__box1__child__grandchild1 {
  font-size: 10px;
}
.footer__boxes__box1__child__grandchild2 {
  font-size: 8px;
}
.footer__boxes__box1__child__grandchild3 {
  font-size: 9px;
}
.footer__boxes__box1__child__grandchild4 {
  font-size: 4px;
  width: 85px;
}
.footer__boxes__box1__child__grandchild5-2 {
  transform: translateY(8px);
}
.footer__boxes__box1__child__grandchild6 {
  font-size: 4px;
  transform: translateY(6px);
}
.footer__boxes__box1__child__grandchild7 {
  float: right;
  margin-right: 13px;
  font-size: 9px;
  transform: translateY(-85px);
}
.footer__boxes__box1__child__grandchild8 {
  float: right;
  transform: translateY(-90px);
  margin-left: 100px;
  font-size: 4px;
  width: 75px;
}
.footer__boxes__box1__child__grandchild9 {
  margin-right: 15px;
  float: right;
  transform: translateY(-90px);
}
.footer__boxes__box1__child__grandchild9-2 {
  transform: translateY(4px);
}
.footer__boxes__box1__child__grandchild10 {
  font-size: 4px;
  transform: translateX(120px);
}
.footer__boxes__box1__child__grandchild11 {
  font-size: 4px;
  transform: translateX(120px);
}
.footer__boxes__box1__child__grandchild12 {
  font-size: 4px;
  transform: translateX(120px);
}
.footer__boxes__box2 {
  background-color: #272C48;
  color: rgba(60, 158, 163, 0);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box2 {
    width: 350px;
    transform: translateX(-20px);
    margin-bottom: 200px;
  }
}
.footer__boxes__box3 {
  background: rgba(212, 53, 125, 0.1);
  color: rgba(60, 158, 163, 0);
}
@media screen and (max-width: 500px) {
  .footer__boxes__box3 {
    width: 350px;
    transform: translateX(-20px);
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=style.css.map */